:root {
    --cor-fundo: #0a0a0f;
    --cor-fundo-claro: #12121A;
    --cor-gradiente: #1A0A2D;
    --cor-cards: #242433;
    --cor-destaque: #7c3aed;
    --cor-destaque-claro: #a855f7;
    --cor-texto: #fafafa;
    --cor-texto-escuro: #9380a7;
    --cor-bordas: #281d3b;
    --cor-placeholder: #3b3b53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif; 
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

h1 {
    font-family: 'Cinzel', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid var(--cor-bordas);
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav li {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #b4a3be;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--cor-destaque-claro);
}

.page-logo {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

.page-logo span {
    color: var(--cor-destaque-claro);
}

.banner-container {
    padding: 50px 20px;
    border-bottom: 1px solid var(--cor-bordas);
    background: linear-gradient(135deg,  var(--cor-fundo), var(--cor-gradiente), var(--cor-fundo));
}

.hero-label {
    color: var(--cor-destaque);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.hero-title {
    font-size: 30px;
    letter-spacing: 1px;
}

.hero-title span {
    display: block;
    color: var(--cor-destaque-claro);
}

.hero-desc {
    font-size: 14px;
    color: var(--cor-texto-escuro);
    letter-spacing: 1px;
    margin-bottom: 20px;
}

form input {
    padding: 10px 16px;
    width: 350px;
    background-color: var(--cor-fundo-claro);
    border-radius: 5px;
    border: 1px solid var(--cor-bordas);
    color: var(--cor-texto);
}

form input::placeholder {
    color: var(--cor-placeholder);
}

.btn-search {
    color: var(--cor-texto);
    padding: 8px 20px 8px 20px;
    background-color: var(--cor-destaque);
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.hidden {
    display: none;
}